.pcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    img {
        max-width: 100%;
        height: auto;
    }
} 

.buy-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#pret_normal {
    color: var(--culoare-4);
}

#pret_redus {
    color: var(--culoare-2);
}

.nume_specificatie {
    font-weight: bold;
}

.descriere_specificatie {
    span, time {
        font-style: italic !important;
    }
}

#medie_putere {
    position: fixed;
    left: 80%;
    top: 80%;
    background-color: var(--culoare-2);
    color: var(--culoare-text);
    padding: 10px;
    border-radius: 10%;
}
