.meniu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.meniu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.meniu a {
  margin-left: 1rem;
  padding: 0.1rem;
}

.meniu li {
  text-align: center;
  box-sizing: border-box;
}

.meniu li div, .meniu li a {
  box-sizing: border-box;
}

.meniu li:hover ul {
  display: block;
  position: absolute;
  z-index: 3;
}

.meniu > li > a {
  border: 1px solid var(--culoare-5);
  color: white;
}

.meniu_container {
  position: relative;
}

.meniu_container > li > a {
  color: white;
}

.meniu_container > li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  transition: all 1s linear;
}

.meniu_container > li:hover::after {
  width: calc(100% - 1rem);
  height: calc(100% + 1px);
  background-color: white;
  opacity: 30%;
  transform: translate(-38%, -56%);
}

.meniu_container > li > ul {
  width: 0%;
  height: 0%;
  transition: width 1s linear, height 1s linear;
}

.meniu_container > li > ul > li {
  position: relative;
  /*top: 100%;*/
  left: 1rem;
  width: calc(100% - 1rem);
  background-color: var(--culoare-5);
}

.meniu_container > li > ul > li > a {
  position: relative;
  left: -0.5rem;
  color: white;
}

#meniu_home {
  position: relative;
  z-index: 1;
  /* Make sure the original element is below the ::after pseudo-element */
}

#meniu_home > a > img {
  width: 1rem;
  transform: translateY(25%);
}

#hamburger {
  display: none;
}
