.meniu {
    display: none;
}

#hamburger {
    display: block;
    position: absolute;
    opacity: 0%;
    height: 25px;
    width: 25px;
    margin: 0;  

    &:checked {
        
    }
}

.hamburger-line {
    background-color: white;
    width: 25px;
    height: 5px;
    margin-bottom: 5px;
}

