.meniu {
    display: flex;
    flex-direction: row;
}

.meniu ul {
    display: none;
}

.meniu, .meniu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.meniu a {
    margin-left: 1rem;
    padding:0.1rem;
}

.meniu>li {
    text-align: center;
}

.meniu>li>a {
    border: 1px solid var(--culoare-5);
    color: black;
}

.meniu li, .meniu li div, .meniu li a {
    box-sizing: border-box;
    transition: all 1s linear;
}

.meniu li:hover>div, .meniu li:hover>a {
    background-color: white; /**TODO use vars**/
    color: royalblue;
}

.meniu li:hover>ul {
    display: block;
    position: absolute;
    z-index: 3;
}