@media print {
    @page {
        margin: 1in; 
        margin-top: 1.5in; 
        margin-bottom: 1.5in; 
    }


    #header,
    #footer {
        break-before: page;
    }


    #nav,
    #header-div,
    #video-local,
    #link-top,
    img,
    iframe,
    figcaption,
    figure,
    .taburi-iframe,
    .container-iframe {
        display: none !important;
    }


    #grid-pagina {
        display: block;
    }


    #banner {
        position: fixed;
        top: 0.3in; 
        right: 0.3in;
        width: 50%;
        border-style: double;
        border: solid 3px black;
        box-sizing: content-box;
    }


    .header-name {
        position: fixed;
        align-self: center;
        top: 0;
        width: 100%;
        text-align: center;
    }


    #watermark {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        color: rgba(77, 77, 77, 0.3);
        z-index: 5;
        text-align: center;
    }


    a {
        text-decoration: none;
        color: black;
    }


    @page:right {
        margin: 1cm 2cm;
    }

    @page:left {
        margin: 2cm 1cm;
    }
}
