@charset "UTF-8";
html {
  --culoare-1: #EDE9E1;
  --culoare-2: #6881AD;
  --culoare-3: #E2E6ED;
  --culoare-4: #98804F;
  --culoare-5: #26416E;
  --culoare-6: #43310C;
  --culoare-link-vizitat: red;
  --culoare-fundal: var(--culoare-1);
  --culoare-border: var(--culoare-6);
  --culoare-text: black;
  --culoare-highlight: var(--culoare-2);
  --dimensiune-border: 1px;
  --dimensiune-spatiere: 50px;
  --dimensiune-spatiere-ecran-mediu: 25px;
  --dimensiune-spatiere-ecran-mic: 10px;
  --header-footer-border-radius: 15%;
  font-size: 18px;
  font-weight: 400;
  font-family: "Madimi One", sans-serif;
  font-style: normal;
}

.text-logo {
  font-family: "Madimi One", sans-serif;
}

#header-name {
  color: var(--culoare-3);
}

body {
  background-color: var(--culoare-3);
}

main {
  color: var(--culoare-text);
  padding-left: var(--dimensiune-spatiere);
  padding-right: var(--dimensiune-spatiere);
  background-color: var(--culoare-3);
}

p {
  color: var(--culoare-text);
  font-size: 1rem;
  font-weight: lighter;
}

header {
  background-color: var(--culoare-2);
  border-bottom-right-radius: var(--header-footer-border-radius);
  border-bottom-left-radius: var(--header-footer-border-radius);
}

footer {
  background-color: var(--culoare-2);
  border-top-right-radius: var(--header-footer-border-radius);
  border-top-left-radius: var(--header-footer-border-radius);
}

#math-extra {
  color: red;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

#tab-orar > tbody > tr {
  transition: background-color 1s linear;
}
#tab-orar > tbody > tr > tr:nth-child(even) {
  background-color: var(--culoare-4);
}
#tab-orar > tbody > tr > tr:nth-child(odd) {
  background-color: var(--culoare-3);
}
#tab-orar > tbody > tr:hover {
  background-color: var(--culoare-2);
}

.taburi-iframe > a {
  background-color: white;
  box-shadow: inset 0px 0px 20px rgb(3, 133, 94), inset 0px 10px 10px black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  color: #03855e;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border: 2px solid white;
  outline: 1px solid #03855e;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.taburi-iframe > a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: inset 0px 0px 30px rgba(3, 133, 94, 0.4), inset 0px 15px 15px rgba(0, 0, 0, 0.4);
}

.container-iframe > iframe {
  border: 5px solid #03855e;
}

a[href^="http://"]::before {
  content: "⮳";
  font-size: 1.5em;
  color: black;
}
a[href^="http://"]:hover::before {
  color: red;
}

main a:not(.anch-iframe) {
  display: inline-block;
  background: radial-gradient(ellipse at center, lightblue 0%, lightblue 40%, rgba(255, 0, 0, 0) 80%, rgba(255, 0, 0, 0) 100%);
  background-size: 0 0;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 1s linear;
  text-wrap: nowrap;
}
main a:hover:not(.anch-iframe) {
  background-size: 100% 100%;
}

#imagine_duotone {
  position: relative;
  background-image: url("http://irinaciocan.ro/imagini/plante.jpg");
  background-size: cover;
  width: 500px;
  height: 500px;
  filter: brightness(200%) grayscale(0);
  transition: all 2s linear;
}
#imagine_duotone:after, #imagine_duotone:before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 2s linear;
}
#imagine_duotone:after {
  background-color: rgb(0, 0, 255);
  mix-blend-mode: lighten;
  transform-origin: left center;
  transform: scaleX(0);
}
#imagine_duotone:before {
  background-color: rgb(205, 0, 255);
  mix-blend-mode: darken;
  transform-origin: right center;
  transform: scaleX(0);
}
#imagine_duotone:hover:after, #imagine_duotone:hover:before {
  transform: scaleX(1);
}

.gradient-hr {
  height: 4px; /* Adjust height as needed */
  border: none;
  position: relative;
  background-color: var(--culoare-5);
  overflow: visible;
  opacity: 1;
}
.gradient-hr::before, .gradient-hr::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right, var(--culoare-5) 50%, transparent 50%);
  background-size: 10px 100%;
  background-repeat: repeat-x;
}
.gradient-hr::before {
  top: -4px;
  left: 3px;
}
.gradient-hr::after {
  bottom: -4px;
}

/*
  * {
  outline: 1px solid #f00 !important;
}*/
@keyframes wave {
  0% {
    background: repeating-linear-gradient(to top, #333 50%, #eee 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  10% {
    background: repeating-linear-gradient(to top, #333 45%, #eee 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  20% {
    background: repeating-linear-gradient(to top, #333 40%, #eee 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  30% {
    background: repeating-linear-gradient(to top, #333 35%, #eee 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  40% {
    background: repeating-linear-gradient(to top, #333 30%, #eee 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  50% {
    background: repeating-linear-gradient(to top, #333 25%, #eee 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  60% {
    background: repeating-linear-gradient(to top, #333 20%, #eee 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  70% {
    background: repeating-linear-gradient(to top, #333 15%, #eee 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  80% {
    background: repeating-linear-gradient(to top, #333 10%, #eee 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  90% {
    background: repeating-linear-gradient(to top, #333 5%, #eee 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  100% {
    background: repeating-linear-gradient(to top, #333 0%, #eee 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
#reflexie-text {
  position: absolute;
  transform-origin: 0 0;
  /*conetaza ordinea transformarilor!*/
  transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px, -25px);
  opacity: 0.55;
  background: -webkit-repeating-linear-gradient(top, #eee 0%, #333 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#text-reflectat:hover + #reflexie-text, #reflexie-text:hover {
  animation: wave 2s linear infinite reverse;
}

#text-reflectat {
  position: relative;
}

#text-reflectat, #reflexie-text {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  main {
    padding-left: var(--dimensiune-spatiere-ecran-mediu);
    padding-right: var(--dimensiune-spatiere-ecran-mediu);
  }
}
@media screen and (max-width: 600px) {
  main {
    padding-left: var(--dimensiune-spatiere-ecran-mic);
    padding-right: var(--dimensiune-spatiere-ecran-mic);
  }
}
#art-produs p {
  color: var(--culoare-3);
  background-color: var(--culoare-2);
  font-weight: bold;
}

.dark {
  --culoare-1: #DBC94D;
  --culoare-2: #7583D9;
  --culoare-3: #2E2F36;
  --culoare-4: #DBA64D;
  --culoare-5: #5C5A4E;
  --culoare-text: white;
}

.neon {
  --culoare-1: #DBD56E;
  --culoare-2: #836FFF;
  --culoare-3: #a0e9d5;
  --culoare-4: #FF76CE;
  --culoare-5: #FF9F66;
  --culoare-text: #211951;
}