<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="bucuresti, calculator, pc, procesor, placa grafica, intel, amd, nvidia, asamblare, cabluri, ssd, stocare, surse alimentare">
        <meta name="description" content="PC Fabric - Construiește-ți propriul PC după bunul plac, iar noi avem grijă ca piesele tale să fie compatibile.">
        
        <title>PC Fabric galerie_statica</title>
        <%- include("../fragmente/head") %>     
        <link rel="stylesheet" href="/resurse/css/galerie_statica.css">
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <%- include("../fragmente/galerie_statica.ejs") %>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>