html { /* sau selectorul html */
    font-size: 18px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#grid-pagina {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr) /*1fr 1fr 1fr*/;
    grid-template-areas: "welcome welcome welcome"
                         "promotii promotii orar"
                         "fig1 produse produse"
                         "fig2 produse produse"
                         "fig3 produse produse"
                         "index-intrebari index-intrebari index-intrebari"
                         "anunturi anunturi anunturi"
                         ;
    
}

#grid-pagina>* {
    outline: 2px solid skyblue;
    padding: 1em;
}

#grid-pagina>figure {
    margin: 0;

}

#welcome {
    grid-area: welcome;
}
#promotii {
    grid-area: promotii;
}
#anunturi {
    grid-area: anunturi;
}

#orar {
    grid-area: orar;
}
 
#fig1 {
    grid-area: fig1;
}
#fig2 {
    grid-area: fig2;
}
#fig3 {
    grid-area: fig3;
}
#produse {
    grid-area: produse;
}
#index-intrebari {
    grid-area: index-intrebari;
}

@media screen and (max-width: 1200px) {
    #grid-pagina {
        grid-template-columns: repeat(2, 1fr) /*1fr 1fr 1fr*/;
        grid-template-areas: "welcome welcome"
                             "promotii promotii"
                             "orar orar"
                             "fig1 produse"
                             "fig2 produse"
                             "fig3 produse"
                             "index-intrebari index-intrebari"
                             "anunturi anunturi"
                             ;
        
    }
    html {
        font-size: 15px;
    }

    .intro-oferte {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
    #grid-pagina {
        display: block;
    }
    #grid-pagina>* {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}
/* TODO: create non-existant objects */