body {
    --culoare-fundal: #B0A3FF;
    --culoare-border: #A07020;
    --dimensiune-border: 1px;
    --dimensiune-spatiere: 50px;
    padding-left: var(--dimensiune-spatiere);
}

p {
    color: #000000;
    background-color: var(--culoare-fundal);
}

h1 {
    border: var(--dimensiune-border) solid var(--culoare-border);
    
}