<footer>
    <a href="#" title="mergi sus" id="link-top"><div id="cerc"></div><div id="sageata">&#8593;</div></a>
    <!--
    <a href="fisier.pdf" download> Fisier descarcabil </a>
    -->
    <address>
        <br><br>
        <span>Bulevardul Regina Elisabeta 3, București, Sector 1, România</span><br/>
        <iframe id="locatie" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843011393164!2d26.097011776865713!3d44.43553547107576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1709540026305!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        <a href="mailto:georgian.sofronea@gmail.com">Mail</a> <br/>
        <i class="fa-solid fa-phone"></i> <a href="tel:+40712345678">Telefon</a> <br/>
        <a href="https://wa.me/40712345678?text=I'm%20interested%20in%20your%20offer">Whatsapp</a>
    </address>
    <p id="banner">Acesta este un proiect școlar!</p>
    <p><small>Copyright &copy; <time datetime="2024-03-04">4 martie 2024</time></small></p>
</footer>