<header>
    <div id="header-div">
        <nav id="header-nav">
            <div id="hamburger-container">
                <input id="hamburger-check" type="checkbox"/>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
            <div id="meniu-mobil">
                <ul>
                    <li><a class="anch-meniu" href="/index">Acasa</a></li>
                    <li><a class="anch-meniu" href="/index/#welcome">Bine ați venit</a></li>
                    <li><a class="anch-meniu optiune-cu-submeniu" href="#">Componente</a></li>
                    <ul>
                        <% for(let componenta of defaultData.tipuri_componente) { %>
                            <li><a class="anch-meniu" href="/<%=componenta%>"><%= componenta.replace(/_/g, ' ').replace(/\b\w/g, c => c.toUpperCase());%></a></li>
                        <% } %>
                    </ul>
                    <li><a class="anch-meniu" href="/galerie_statica">Galerie statica</a></li>
                </ul>
            </div>
            <ul class="meniu">
                <li class="submeniu" id="meniu_home"><a class="anch-meniu" href="/index"><img src="/resurse/imagini/home.png" /> Acasa</a></li>

                <li class="submeniu">
                    <a class="anch-meniu" href="/index#welcome">Bine ați venit</a>
                    <div>
                        <ul>
                            <li><a class="anch-meniu" href="/index#promotii">Promoții</a></li>
                            <li><a class="anch-meniu" href="" target="_blank"> google </a></li>
                            <li><a class="anch-meniu" href="" target="_blank"> google </a></li>
                            <li><a class="anch-meniu" href="/index#promotii">Promoții</a></li>
                        </ul>
                    </div>
                </li>

                <li class="submeniu"><a class="anch-meniu" href="#">Componente</a>
                    <div>
                        <ul>
                            <% for(let componenta of defaultData.tipuri_componente) { %>
                                <li><a class="anch-meniu" href="/<%=componenta%>"><%= componenta.replace(/_/g, ' ').replace(/\b\w/g, c => c.toUpperCase());%></a></li>
                            <% } %>
                        </ul>
                    </div>
                </li>

                <li class="submeniu"><a class="anch-meniu" href="/galerie_statica">Galerie statica</a></li>
            </ul>
                <div id="header-name">
                    <h1 class="text-logo">PC Fabric</h1>
                </div>
            </div>
        </nav>
    </div>
</header>

<link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />
<div style="width: 10rem; height: 2rem; right: 1rem; margin-top: 1rem;" class="position-absolute switch-toggle switch-3 switch-candy">
    <input class="light-button" id="on" name="state-d" type="radio" checked="" />
    <label style="user-select: none;" for="on" onclick="">✺</label>

    <input class="neon-button" id="na" name="state-d" type="radio" checked="checked" />
    <label style="user-select: none;" for="na" class="disabled" onclick="">🌠</label>

    <input class="dark-button" id="off" name="state-d" type="radio" />
    <label style="user-select: none;" for="off" onclick="">☽</label>

    <a></a>
</div>
<script src="/resurse/js/schimba_tema.js"></script>