<header>
    <div id="header-div">
        <nav id="header-nav">
            <div id="hamburger-container">
                <input id="hamburger-check" type="checkbox"/>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
            <div id="meniu-mobil">
                <ul>
                    <li><a class="anch-meniu" href="">blaa</a></li>
                    <li><a class="anch-meniu" href="">blaa</a></li>
                    <li><a class="anch-meniu" href="">blaa</a></li>
                    <li class="optiune-cu-submeniu"><a href="">blaa</a></li>
                    <ul>
                        <li><a class="anch-meniu" href="">blaa</a></li>
                        <li><a class="anch-meniu" href="">blaa</a></li>
                    </ul>
                    <li><a class="anch-meniu" href="">blaa</a></li>
                </ul>
            </div>
            <ul class="meniu">
                <li class="submeniu" id="meniu_home"><a class="anch-meniu" href="/index"><img src="/resurse/imagini/home.png" /> Acasa</a></li>

                <li class="submeniu">
                    <a class="anch-meniu" href="/index#welcome">Bine ați venit</a>
                    <div>
                        <ul>
                            <li><a class="anch-meniu" href="/index#promotii">Promoții</a></li>
                            <li><a class="anch-meniu" href="" target="_blank"> google </a></li>
                            <li><a class="anch-meniu" href="" target="_blank"> google </a></li>
                            <li><a class="anch-meniu" href="/index#promotii">Promoții</a></li>
                        </ul>
                    </div>
                </li>

                <li class="submeniu"><a class="anch-meniu" href="/produse">Produse</a></li>
                <li class="submeniu"><a class="anch-meniu" href="/galerie_statica">Galerie statica</a></li>
                <li class="submeniu"><a class="anch-meniu" href="/produse">Produse</a></li>
            </ul>
            
            <div id="header-name">
                <h1>PC Fabric</h1>
            </div>
        </nav>
    </div>
</header>
