<header>
    <div id="header-div">
        <nav id="header-nav">
            <div id="hamburger-container">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>
            <ul class="meniu">
                <li class="submeniu" id="meniu_home"><a href="#"><img src="/resurse/imagini/home.png" /> Acasa</a></li>

                <li class="submeniu">
                    <a href="#welcome">Bine ați venit</a>
                    <div>
                        <ul>
                            <li><a href="#promotii">Promoții</a></li>
                            <li><a href="http://www.google.com" target="_blank"> google </a></li>
                            <li><a href="http://www.google.com" target="_blank"> google </a></li>
                            <li><a href="#promotii">Promoții</a></li>
                        </ul>
                    </div>
                </li>

                <li class="submeniu"><a href="">Produse</a></li>
                <li class="submeniu"><a href="">Produse</a></li>
                <li class="submeniu"><a href="">Produse</a></li>
            </ul>
            
            <div id="header-name">
                <h1>PC Fabric</h1>
            </div>
        </nav>
    </div>
</header>
